body {
  font-family: Helvetica;
}
#header,
h2,
mark {
  font-weight: bold;
}
#header {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url("../pattern.jpeg");
}
h2 {
  font-size: 32px;
  color: white;
}
mark {
  color: blue;
  background-color: transparent;
}
#brushes {
  background-color: mediumspringgreen;
}
#frames {
  background-color: lightcoral;
}
#paint {
  background-color: skyblue;
}
